html, body {
   height: 100%;
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
header {
   display: flex;
   justify-content: center;
   align-items: center;
}

h1 {
  display: flex;
  flex-direction: column;
}

main {
   flex: 1;
}

footer {
   text-align: center;
}



